
div.head {
    max-width: 1480px;
    background-color: #fef7d2;
    padding: 10px;
    border: 1px solid black;
}

div.head img {
    width: 50%;
    height: auto;
    margin-left: 375px;
}



div.title {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    margin: 15px;
    color: black;
    font-variant: petite-caps;
    font-style: italic;
}

nav a:hover {
    color: rgb(153, 147, 79);
}



body {
    color: #262626;
    background-color: #ffffff !important;
}   

div.life {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid black;
    gap: 30px;

    background-image: url("https://img.freepik.com/free-photo/pastel-yellow-vignette-concrete-textured-background_53876-124561.jpg");
    background-size: cover;
    background-position: center;
}

div.text {
    line-height: 1.3;
    font-size: 10px;
    font-family: Arial, sans-serif;
    margin-left: 60px;
    width: 50%;
    padding: 20px;
    text-align: left;
}

div.photo {
    width: 50%;
    margin-right: 20px;
    padding: 20px
}
div.photo img {
    max-width: 100%;
    height: auto;
    margin-top: 17px;
}





div.list li{
    font-size: 18px;
} 

div.list a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #000000;
} 
div.list a :hover{
    color: rgb(153, 147, 79);
}

div.list dd{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
} 

div.list dt{
    font-weight: bold;
    margin: 7px;
    text-align: center;
    font-style: bold;
    font-size: 18px;
    font-style: bold;
} 





table{
    width: 100%;
    background-color: #fffdcc;
}

table thead{
    background:rgb(172, 172, 253);
}
table thead th{
    border: 1px solid black;
    padding: 12px;
    font-size: 17px;
    color: #000000;
    font-variant: petite-caps;
    font-weight: bold;
}

table tbody{
    background:#fef7d2;
}

table tbody td{
     padding: 12px;
    border: 1px solid black;
    font-size: 17px;
    color: #000000;
}
table  a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #000000;
}
table a:hover{
    color: rgb(153, 147, 79);
}

table tbody tr{
text-align: center;
}

 i + i {
    color: red;
}

b > i {
    color: green;
}
